* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.container {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    align-items: center;
    gap: 10px;
    line-height: 30px;
    /* max-width: 100%; */
    /* margin: 20px; */
    background-color: rgb(145, 214, 235);
    border-radius: 50px;
    height: 450px;
    width: 380px;
    background-image: url(https://images.unsplash.com/photo-1760389276344-d1b83848e66a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE4fHx8ZW58MHx8fHx8);
    background-size: contain;
    box-shadow: 0px 0px 30px whitesmoke;


}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 27, 60);
    background-image: url(https://plus.unsplash.com/premium_photo-1687308458927-9e67142990f7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDMyfHx8ZW58MHx8fHx8);
    background-size: cover;
}

.yo {
    background: pink;
    padding: 10px 25px;
    border-radius: 20px;
    /* border: none; */
    height: 100px;
    width: 100px;
    gap: 50px;
    position: absolute;
    left: 550px;
    bottom: 375px;
    background-image: url(https://media.tenor.com/x1Teri5pYw8AAAAm/love-mochi.webp);
    background-size: cover;
    box-shadow: 0px 0px 20px #ffd7b7;

}

.xo {
    background: rgb(238, 8, 46);
    padding: 10px 25px;
    border-radius: 20px;
    /* border: none; */
    height: 200px;
    width: 300px;
    gap: 50px;
    position: absolute;
    top: 280px;
    text-align: center;
    box-shadow: 0px 0px 20px rgb(145, 214, 235);
    background-image: url(https://plus.unsplash.com/premium_photo-1669757708034-14c797f995e4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDM2fHx8ZW58MHx8fHx8);
    background-size: ;

}

.yp {
    background: rgb(129, 23, 41);
    padding: 10px 25px;
    border-radius: 20px;
    /* border: none; */
    height: 100px;
    width: 100px;
    gap: 50px;
    position: absolute;
    left: 730px;
    bottom: 375px;
    background-image: url(https://media.tenor.com/6ULDEgEuCD4AAAAM/i-love-you-images-i-love-you-by-jony-datta.gif);
    background-size: cover;
    box-shadow: 0px 0px 15px #dda888;
}

#h1 {
    position: absolute;
    top: 110px;
    font-family: cursive;
    color: deeppink;
    font-style: italic;


}

.xp {
    text-align: center;
    height: 140px;
    width: 250px;
    /* background-color: rgb(175, 221, 221); */
    position: absolute;
    left: 25px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 30px #a4e410;
    background-image: url();
    background-size: cover;
   
}

    


h5 {
    text-align: center;
    line-height: 15px;
    position: sticky;
    top: 0;
}

#no {
    text-decoration: none;
    text-align: center;
    align-items: center;
    background-color: rgb(250, 7, 7);
    padding: 20px 40px;
    border-radius: 50px;
    position: absolute;
    top: 488px;
    height: 50px;
    width: 250px;
    color: hsl(69, 91%, 49%);
    line-height: 3px;
    /* box-shadow: coral; */
    font-size: 20px;
    font-weight: 30px;
    box-shadow: 0px 0px 30pc #7CFC00;
    


}
#no:hover{
    background-color: pink;
    color: rgb(223, 6, 6);
    font-weight: 30px;
  
}