*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://plus.unsplash.com/premium_photo-1673002094029-7b23531aa342?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8YmVhdXRpZnVsJTIwbmF0dXJlfGVufDB8fDB8fHww);
    background-size: cover;
    height: 100%;
    width: 100%;
    
}
.hero{
    display: flex;
    align-items: center;
    justify-content: start;
    background-image: url(https://images.unsplash.com/photo-1563387852576-964bc31b73af?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8d2FsbHBhcGVyfGVufDB8fDB8fHww);
    background-size: cover;
   

}
/* #krs{
    width: 100%;
    height: 100vh;
    transform: scale(1.2,1);
    display: flex;
    
     transform: scale(1.35,0.99);
} */
.container{
    display: flex;
    flex-direction: column;
    /* text-align: center; */ position: absolute;
    z-index: 2;
    top: 100px;
    justify-content: center;
    align-items: center;
    gap:10px;
    line-height: 30px;
    
    border-radius: 33px;
    height: 450px;
    width: 400px;
    margin-left: 150px;
    box-shadow: 0px 0px 50px rgb(247, 3, 247);

}
.tensor{
    display: block;
    background-image: url(https://plus.unsplash.com/premium_photo-1676478746576-a3e1a9496c23?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHdhbGxwYXBlcnxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    
    text-align: center;
    box-shadow: 0px 0px 30px rgb(233, 147, 162);
    height: 250px;
    border-radius: 30px;

}
.btn a{
    text-decoration: none;
  
    background:pink;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    color: black;
    
}
#kunal{
    transition: all 1ms;
}
.container .btn{
    display: flex;
    gap: 50px;


}
#kunal:hover{
    
    opacity: 0;

}
.btn{
    box-shadow: 0px 0px 50px rgba(7, 238, 255, 0.979);
    border-radius: 30px;
}
h2{
    color: rgba(211, 67, 211, 0.733);
}
h1{
    color: rgb(241, 15, 192);
}