*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1477346611705-65d1883cee1e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8ZGVza3RvcCUyMHdhbGxwYXBlcnN8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
   
    

}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* #krs{
    margin-top: 600px;
    height: 100%;
    width: 100%;
    transform: scale(1.35,1);
    position: fixed;
} */
.container{
    
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    gap:10px;
    line-height: 30px;
    /* max-width: 100%; */
    /* margin: 20px; */
    position: absolute;
    z-index: 2;
    top: 100px;
    /* background-color: rgb(145, 214, 235); */
    border-radius: 33px;
    height: 450px;
    width: 400px;
    box-shadow: 0px 0px 20px rgb(236, 241, 241);
    background-image: url(https://images.unsplash.com/photo-1602009178093-743e06d91af4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8bG92ZSUyMGNvdXBsZXxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    /* transform: translatex(-300px); */
    
    /* corner-shape:notch tringle; */

}
.tensor{
    display: block;
    /* max-width: 200px; */
    text-align: center;
    /* height: 300px; */
    box-shadow: 0px 0px 30px rgb(233, 147, 162);
    height: 280px;
    border-radius: 30px;
    background-image: url(https://media.istockphoto.com/id/157565256/photo/glowing-pink-hearts.webp?a=1&b=1&s=612x612&w=0&k=20&c=7AKv_PQ74_AUKX2FkFGiTF4wAqNM0ulO0IENGeUCSUM=);
    background-size: cover;

}
.container .btn{
    display: flex;
    gap: 50px;


}
#kunal:hover{
    
    opacity: 0;

}
#kunal{
    transition: all 1ms;
}

.btn a{
    text-decoration: none;
    /* color: #c00a0a; */
    background:pink;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    color: black;
    
}
h1{
    color: white;
    text-align: center;
}
