* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1550015296-7fd664acc768?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHZhbGVudGluZXN8ZW58MHx8MHx8fDA%3D);
    background-size: cover;

}

/* #krs {
    width: 100%;
     transform: scale(1.35,0.99);
    height: 100%;
} */

.container {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    gap: 10px;
    line-height: 30px;
    /* max-width: 100%; */
    /* margin: 20px; */
    background-color: rgb(145, 214, 235);
    border-radius: 30px;
    height: 450px;
    width: 400px;
    position: absolute;
    z-index: 2;
    background-image: url(https://images.unsplash.com/photo-1591171400758-b2885b7a3183?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGxpa2V8ZW58MHx8MHx8fDA%3D);
    background-size: cover;

    /* corner-shape:notch tringle; */

}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 300px;
    box-shadow: 0px 0px 30px rgb(189, 75, 75);
}

.tensor {
    display: block;
    /* max-width: 200px; */
    text-align: center;
    /* height: 300px; */
    box-shadow: 0px 0px 30px rgb(233, 147, 162);
    height: 220px;
    border-radius: 30px;
    background-image: url(https://images.unsplash.com/photo-1518199266791-5375a83190b7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGxvdmV8ZW58MHx8MHx8fDA%3D);
    background-size: cover;

}

.btn a {
    text-decoration: none;
    /* color: #c00a0a; */
    background: pink;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    color: black;

}

.container .btn {
    display: flex;
    gap: 50px;
}

#kunal:hover {

    opacity: 0;
}

#kunal {
    transition: all 1ms;
}
h1{
    color: aqua;
}
h2{
    color: azure;
}